.daybox
  label
    input#switch_night(type="checkbox")
    .top
      svg.temsvg
        circle(cx=0 cy=100 r=3)
        text(x=0 y=100) 18°C
        circle(cx=70 cy=90 r=3)
        text(x=70 y=90) 19°C
        circle(cx=140 cy=110 r=3)
        text(x=140 y=110) 17°C
        circle(cx=210 cy=85 r=3)
        text(x=210 y=85) 20°C
        circle(cx=280 cy=30 r=3)
        text(x=280 y=30) 25°C
        circle(cx=350 cy=50 r=3)
        text(x=350 y=50) 23°C
        circle(cx=420 cy=50 r=3)
        polyline(points="0,100 70,90 140,110 210,85 280,30 350,50 420,50")
      .text_area
        .temperature 19 °C
        .infos
          .address 彰化縣彰化市西勢里
          .time 星期二 下午7:44
      .moon
      .cloud
        .rain
        .rain.rain2
        .rain.rain3
    .bottom
      .dayweather
        h3 MON
        svg(viewbox="-65 -35 100 100")
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)
      .dayweather
        h3 TUE
        svg(viewbox="-65 -25 100 100")
          line.rain(x1=-25 y1=15 x2=-25 y2=25)
          line.rain(x1=-14 y1=25 x2=-14 y2=35)
          line.rain(x1=-5 y1=0 x2=-5 y2=15)
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)   
      .dayweather
        h3 WED
        svg(viewbox="-65 -35 100 100")
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)

      .dayweather
        h3 THU
        svg(viewbox="-50 -50 100 100")
          circle.sun(cx=0 cy=0 r=22)
          circle.cloud(cx=0 cy=30 r=20)
          circle.cloud(cx=-15 cy=30 r=20)
          circle.cloud(cx=-30 cy=30 r=20)
          circle.cloud(cx=-25 cy=10 r=15)
          circle.cloud(cx=-7 cy=15 r=15)

      .dayweather
        h3 FRI
        svg(viewbox="-50 -50 100 100")
          circle.sun(cx=0 cy=0 r=22)
      .dayweather
        h3 SAT
        svg(viewbox="-50 -50 100 100")
          circle.sun(cx=0 cy=0 r=22)
      .dayweather
        h3 SUN
        svg(viewbox="-50 -50 100 100")
          circle.sun(cx=0 cy=0 r=22)